*{
    font-family: "Lato",sans-serif;
}
header nav{
    display: inline-flex;
}
header img{
    height: 8vh;
    border-radius: 1vh;
    margin-left: -2vw;
    margin-right: 33vw;
}
header a{
    text-decoration: none;
    color: green;
    font-size: 18px;
    margin-left: 5vw;
}
.title{
    color: rgb(228, 53, 228);
    font-size: 18px;
    margin-right: 15vw;
}
.pimg{
    margin-left: 7vw;
    display: inline-flex;
}
.p p{
    width: 60vw;
}
.other{
    width: 83%;
    margin-left: 7vw;
}
.other span{
    margin-top: 10vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.other textarea{
    border-radius: 1.5vh;
    outline: none;
}
.last {
    margin-bottom: 10vh;
}
.comment{
    margin-bottom: 5vh;
}
button{
    margin-bottom: 10vh;
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    margin-top: 3vh;
    outline: none;
    border: none;
    
}
h1{
    text-align: center;
}
@media screen and (max-width: 790px){
    header img{
        margin-right: 20vw;
        margin-left: -5vw;
    }
    header a{
        margin-left: 3vw;
    }
} 
@media screen and (max-width: 400px){
    header img{
        margin-right: 10vw;
        margin-left: -5vw;
    }
    header a{
        margin-left: 1vw;
    }
} 