*{
    font-family: "Lato",sans-serif;
}
#botoes li{
    display: inline-block;
    list-style-type: none;
    justify-content: center;
    vertical-align: middle;
}
header img{
    height: 8vh;
    -webkit-padding-start: 0vh;
    border-radius: 1vh;
    margin-left: 4vw;
    margin-right: 33vw;
    margin-bottom: 3vh;
}
header a{
    vertical-align:bottom;
    text-decoration: none;
    color: green;
    font-size: 18px;
    margin-left: 7vw;
}
.pimg{
    margin-left:  initial;
    display: inline-flex;
}
.p p{
    width: 60vw;
}
.feedbacks{
    margin-top: 30vh;
    display: inline-block;
}
.feedbacks a{
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
}
#botoes2 li{
    display: inline;
    list-style-type: none;
    vertical-align: middle;
}
span{
    display: inline;
    white-space: initial;
}
.fimage{
    height: 5vh;
    
}
.like{
    margin-bottom: 1vh;
}
.dislike{
    margin-bottom: -1.3vh;
}
.p{
    margin-bottom: -15%;
}
h3{
    margin-left: 7vw;
    
}
h4{
    margin-left: initial;
    text-align: start;
}
.article{
    margin-bottom: 10vh;
    margin-left: 7vw;
}

.blog >a{
    
    text-decoration: none;
    color: white;
    background-color:green;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    margin-left: 2vw;
}
.blog{
    margin-top: 20vh;
    margin-left: 30vw;
    margin-bottom: 20vh;
}
@media screen and (max-width: 450px){
    header{
        margin-right: -20vw;
        width: 150%;
    }
    #botoes{
        width: 100%;
        position: relative;
    }
    #botoes li{
        display: inline-block;
        margin-left: 10vw;
        justify-content: start;
    }
    #botoes li:first-child{
        margin-right: -10vw;
        margin-left: -20vw;
    }
    #botoes li:last-child{
        margin-left: 0vw;
        margin-right: -20vw;
    }
    .feedbacks{
        margin-top: 30vh;
        display: inline-block;
        
    }
    .feedbacks a{
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 10px 30px 10px 30px;
        border-radius: 10px;
        margin-bottom: 10vh;
    }
    #botoes2{
        width: 160%;
        position: relative;
        margin-left: initial;
    }
    #botoes2 li{
        display: inline;
        justify-content: start;
    }
    #botoes2 li:first-child{
        margin-right: 0vw;
    }
    #botoes2 li:last-child{
        margin-left: 0vw;
    }
    .blog{
        display: flex;
        margin-left: 10vw;
    }
    
 } 
 
 @media screen and (min-width: 450px) and (max-width: 600px){ 
    header{
        margin-right: -20vw;
        width: 150%;
    }
    #botoes{
        width: 100%;
        position: relative;
    }
    #botoes li{
        display: inline-block;
        margin-left: 10vw;
        justify-content: start;
    }
    #botoes li:first-child{
        margin-right: -10vw;
        margin-left: -20vw;
    }
    #botoes li:last-child{
        margin-left: 0vw;
        margin-right: -20vw;
    }
    .feedbacks a{
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 10px 30px 10px 30px;
        border-radius: 10px;
        margin-bottom: 10vh;
    }
    #botoes2{
        width: 160%;
        position: relative;
        margin-left: initial;
    }
    #botoes2 li{
        display: inline;
        justify-content: start;
    }
    #botoes2 li:first-child{
        margin-right: 0vw;
    }
    #botoes2 li:last-child{
        margin-left: 0vw;
    }
    .blog{
        display: flex;
        margin-left: 10vw;
    }
    
 }
 
@media screen and (min-width: 600px) and (max-width: 1000px){

    header img{
        margin-right: 10vw;
        margin-left: 10vw;
    }
    header a{
        margin-left: 6vw;
    }
 } 