*{
    font-family: "Lato",sans-serif;
}
#botoes li{
    display: inline-block;
    list-style-type: none;
    justify-content: center;
    vertical-align: middle;
}
header img{
    height: 8vh;
    -webkit-padding-start: 0vh;
    border-radius: 1vh;
    margin-left: 4vw;
    margin-right: 33vw;
    margin-bottom: 3vh;
}
header a{
    vertical-align:bottom;
    text-decoration: none;
    color: green;
    font-size: 18px;
    margin-left: 7vw;
}
.pimg{
    margin-left: 7vw;
    display: inline-flex;
}
.p p{
    width: 60vw;
}
.p a{
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
}
h3{
    margin-left: 7vw;
    
}
h4{
    margin-left: 7vw;
}
.article{
    margin-bottom: 10vh;
}
.blog >a{
    
    text-decoration: none;
    color: white;
    background-color:green;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    margin-left: 2vw;
}
.blog{
    margin-top: 20vh;
    margin-left: 30vw;
    margin-bottom: 20vh;
}
@media screen and (max-width: 450px){
    header{
        margin-right: -20vw;
        width: 150%;
    }
    #botoes{
        width: 100%;
        position: relative;
    }
    #botoes li{
        display: inline-block;
        margin-left: 10vw;
        justify-content: start;
    }
    #botoes li:first-child{
        margin-right: -10vw;
        margin-left: -20vw;
    }
    #botoes li:last-child{
        margin-left: 0vw;
        margin-right: -20vw;
    }
    .p a{
        font-size: 15px;
        display: inline-flex;
        padding: 10px 20px 10px 20px
    }
    .blog{
        display: flex;
        margin-left: 10vw;
    }
    
 } 
 
 @media screen and (max-width: 600px){ 
    header{
        margin-right: -20vw;
        width: 150%;
    }
    #botoes{
        width: 100%;
        position: relative;
    }
    #botoes li{
        display: inline-block;
        margin-left: 10vw;
        justify-content: start;
    }
    #botoes li:first-child{
        margin-right: -10vw;
        margin-left: -20vw;
    }
    #botoes li:last-child{
        margin-left: 0vw;
        margin-right: -20vw;
    }
    .p a{
        font-size: 15px;
        display: inline-flex;
        padding: 10px 20px 10px 20px
    }
    .blog{
        display: flex;
        margin-left: 10vw;
    }
    
 }
 
@media screen and (max-width: 1000px){

    header img{
        margin-right: 10vw;
        margin-left: 10vw;
    }
    header a{
        margin-left: 6vw;
    }
 } 