*{
    font-family: "Lato",sans-serif;
}
body{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
#botoes{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
}
#botoes li{
    list-style-type: none;
}
#botoes img{
    height: 8vh;
    border-radius: 1vh;
}
#botoes a{
    text-decoration: none;
    color: green;
    font-size: 18px;
}
p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 5vh;
}
h3{
    text-align: center;
}
.all{
    display: flex;
    align-items: stretch;
    width: 60vw;
    height: fit-content;
    margin-top: 5vh;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-bottom: 5vh;
}
.photocodes,.photocodes1{
    background-color:rgb(24, 23, 23);
    color: rgb(196, 190, 190);
    width: 30vw;
}
.photocodes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.photocodes1{
    background-image: url(../images/Glasses.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.icons{
    margin-left: 20px;
}
.icons ul{
    display: flex;
    align-items: center;
}
.icons img{
    height: 5vh;
    width: 3vw;
    border-radius: 2vh;
    margin-right: 1.3vw;
}

/* @media screen and (max-width: 450px){
    header{
        margin-right: -20vw;
        width: 120%;
    }
    #botoes{
        width: 100%;
        position: relative;
    }
    #botoes li{
        display: inline-block;
        margin-left: 10vw;
        justify-content: start;
    }
    #botoes li:first-child{
        margin-right: -10vw;
        margin-left: -15vw;
    }
    #botoes li:last-child{
        margin-left: 0vw;
        margin-right: -20vw;
    }
    .text{
         width: 120%; 
    }
    h3{
         width: 80vw; 
    }
    p{
         width: 50vw; 
    }
    .all{
        justify-content: center;
        height: 90vh;
        padding-right: 40vw;
        padding-left: 10vw;
        padding-bottom: 20vh;
        margin-left: 10vw; 
    }
    .photocodes1{
        visibility: hidden;
        height: 70vh;
    }
    .photocodes section{
        width: 40vw;
    }
    p{
        width: 180%;
    }
    .sideNav img{
        height: 2vh;
        width: 3vw;
        border-radius: 2vh;
    }
 }
 
/* @media screen and (min-width: 450px) and (max-width: 600px){
    header img{
        margin-right: 20vw;
        margin-left: -3vw;
    }
    header a{
        margin-left: 6vw;
    }
    .all{
        /* height: 90vh;
        margin-left: 20vw; 
    }
    .photocodes1{
        visibility: hidden;
        height: 70vh;
    }
    .photocodes section{
        width: 40vw;
    }
    p{
        width: 80%;
    }
    .sideNav img{
        height: 2vh;
        width: 3vw;
        border-radius: 2vh;
        margin-left: -3vw;
    }
    
 }
/* @media screen and (min-width: 600px) and (max-width: 1000px){

    header img{
        margin-right: 20vw;
        margin-left: 5vw;
    }
    header a{
        margin-left: 6vw;
    }
    .all{
        height: 90vh;
        margin-left: 20vw;
    }
    .photocodes1{
        visibility: hidden;
        height: 70vh;
    }
    .photocodes section{
        width: 40vw;
    }
    .dont{
        margin-left: 5vw;
    }
    p{
        width: 80%;
    }
    .sideNav img{
        height: 2vh;
        width: 3vw;
        border-radius: 2vh;
        margin-left: -3vw;
    }
 } 
 /*@media screen and (max-height:600px){
    .all{
        
        height: 140vh;
        margin-bottom: 10vh;
    }
    .photocodes1 img{

        height: 145vh;
    }
 }
  */
