*{
    font-family: "Lato",sans-serif;
}
body{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
#botoes li{
    display: inline-block;
    list-style-type: none;
    justify-content: center;
    vertical-align: middle;
}
header img{
    height: 8vh;
    -webkit-padding-start: 0vh;
    border-radius: 1vh;
    margin-left: 4vw;
    margin-right: 33vw;
    margin-bottom: 3vh;
}
header a{
    vertical-align:bottom;
    text-decoration: none;
    color: green;
    font-size: 18px;
    margin-left: 10vw;
}
.title{
    color: rgb(194, 38, 194);
    font-size: 18px;
    margin-right: 10vw;
}
p{
    width: 20vw;
    text-align: center;
    margin-bottom: 5vh;
}
h3{
    text-align: center;
}
.all{
    display: inline-flex;
    height: 80vh;
    background-color:rgb(24, 23, 23);
    color: rgb(196, 190, 190);
    margin-top: 0.5vh;
    margin-left: 15vw;
}
.photocodes{
    width: 20vw;
}
.photocodes img{
    height: 80vh;
    width: 35vw;
}
.input input{
    height: 9vh;
    border-radius: 1vh;
    width: 20vw;
    border-right: none;
    border-left: none;
    border-top: none;
    margin-bottom: 6vh;
    margin-left: 5.2vw;
    outline: none;
    margin-right: 10vw;
}
.sideNav{
    margin-top: 3vh;
}
.sideNav img{
    height: 5vh;
    width: 3vw;
    border-radius: 2vh;
    margin-left: -3vw;
}
.input input{
    height: 16vh;
    border-radius: 1vh;
    width: 25vw;
    margin-bottom: 6vh;
    margin-left: 5.2vw;
    margin-right: 15vw;
}
.photocodes{
    margin-left: 8vw;
}
.photocodes span{
    margin-left: 2vw;
}