
*{
    font-family: "Lato",sans-serif;
}
body{
    background-image: url(../Images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
#botoes li{
    display: inline-block;
    list-style-type: none;
    justify-content: center;
    vertical-align: middle;
}
header img{
    height: 8vh;
    -webkit-padding-start: 0vh;
    border-radius: 1vh;
    margin-left: 4vw;
    margin-right: 33vw;
    margin-bottom: 3vh;
}
header a{
    vertical-align:bottom;
    text-decoration: none;
    color: green;
    font-size: 18px;
    margin-left: 10vw;
}
.title{
    color: green;
    font-size: 18px;
    margin-right: 15vw;
}
.sideNav{

    position: fixed;
    margin-top: 17vh;
}
.sideNav img{
    height: 5vh;
    width: 3vw;
    border-radius: 2vh;
    margin-left: -3vw;
}
.one{
    width: 50vw;
    margin-top: 15vh;
    margin-left: 25vw;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 10vh;
}
.gmail1 img{
    cursor: pointer;
}
.gmail1 {
    display: inline-block;
  }
  
  .gmail1 .gmailtext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding:4px 2px;
    z-index: 1;
  }
  
  .gmail1:hover span {
    visibility: visible;
  }
.location1 img{
    cursor: pointer;
}
.location1 {
    display: inline-block;
  }
  
  .location1 .loctext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding:4px 2px;
    z-index: 1;
  }
  
  .location1:hover span {
    visibility: visible;
  }
  .whatsap1 img{
    cursor: pointer;
}
.whatsap1 {
    display: inline-block;
  }
  
.whatsap1 .whatsaptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding:4px 2px;
    z-index: 1;
  }
  
  .whatsap1:hover span {
    visibility: visible;
  }
  .phone1{
    display: inline-block;
  }
  .phone1 .phonetext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding:4px 2px;
    z-index: 1;
  }
  .phone1:hover span{
      visibility: visible;
  }
  .facebook1 img{
    cursor: pointer;
}
.facebook1 {
    display: inline-block;
  }
  
.facebook1 .facebooktext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding:4px 2px;
    z-index: 1;
  }
  
  .facebook1:hover span {
    visibility: visible;
  }
.started a{
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    margin-left: 43vw;
    
}
.started{
    margin-bottom: 30vh;
}
.black{
    background-color:black;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-left: -5vw;
    width: 110vw;
}
.black p{
    width: 30vw;
    color: white;
    text-align: center;
    margin-left: 40vw;
    font-size: 17px;
}
.black input{
    border-radius: 1vh;
    height: 3.8vh;
    text-align: center;
}
.input{
    margin-left: 35vw;
    
}

.input a{
    color: white;
    background-color: rgb(231, 104, 104);
    text-decoration: none;
    padding: 7px 50px 7px 50px;
    border-radius: 1vh;
}
.images img{
    width: 20vw;

}
.images p{
    width: 20vw;
}
.images{
    padding-top: 10vh;
    background-color: white;
    background-size: cover;
    display: flex;
    margin-left: -5vw;
    justify-content: center;
    width: 103.3vw;
}
.images .summary:first-child{
 margin-left: 15vw; 
}
footer{
    background-color: rgb(161, 156, 156);
    margin-bottom: -1.32vh;
    padding-bottom: 7vh;
    padding-left: 6vw;
    margin-left: -0.5vw;
    padding-right: 6vw;
    margin-right: -5.5vw;
    width: 87vw;
}
footer nav{
    display: inline-flex;
}
footer a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
footer ul{
    margin-left: 18vw;
}
footer ul :first{
    justify-self: start;
    
}
@media screen and (max-width: 450px){
    html{
        position: fixed;
    }
    body{
        background-size: contain 100%;
        background-color:rgb(255, 189, 67);
        /* rgb(184, 184, 35); */
        height: 100%;
    }
    .started{
        margin-left: -15vw;
        margin-bottom: 13vh;
    }
    .sideNav{
        visibility: hidden;
    }
    header a{
        margin-left: 0vw;
    }
    header img{
        margin-right: 3vw;
    }
    
    .one{
        width: 70vw;
        margin-top: 10vh;
        line-height: 30px;
        margin-left: 10vw;
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        margin-bottom: 10vh;
    }
    .images{
        visibility: hidden;
    }
    
    footer {
        visibility: hidden;
            }
    .black{
        visibility: hidden;
        }
 }

@media screen and (max-width: 600px){
    body{
        background-size: cover,contain;
        width: 100%;
        overflow-x: hidden;
    }
    header a{
        vertical-align:bottom;
        text-decoration: none;
        color: green;
        font-size: 14px;
        margin-left: 5vw;
    }
    .started a{
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 10px 50px 10px 50px;
        border-radius: 10px;
        margin-left: 35vw;
        
    }
    .sideNav{
        visibility: hidden;
    }
    .input{
        margin-left: 30vw;
    }
    .black input{
        margin-bottom: 2vh;
    }
    .input a{
        margin-top: 4vh;
        margin-left: 15vw;
    }
    .down{
        width: 120%;
        position: absolute;
        margin-left: -4vw;
        overflow-x: hidden;
    }
    .images{
        width: inherit;
    }
    .images .summary{
        margin-right: 18.2vw;
        } 
        .lastul{
            margin-right: 10vw;
        }
        footer ul{
            margin-left: 10vw;
        }
    footer {
        width: inherit;
        margin-left: -4vw;
            }
    .black{
        width: inherit;
                
        }
 }
@media screen and (max-width: 1000px){

    .down{
        width: 120%;
        margin-left: -4vw;
        overflow-x: hidden;
    }
    .images{
        width: inherit;
    }
    .images .summary{
         margin-right: 7.35vw;
         } 
         footer {
            width: inherit;
            }
            .black{
                width: inherit;
                
        }
 }
@media screen and (max-width: 1600px){
   .down{
    width: 120%;
    margin-left: -4vw;
    overflow-x: hidden;
}
.images{
    width: inherit;
}
.images .summary{
     margin-right: 7.35vw;
     } 
     footer {
        width: inherit;
        }
        .black{
            width: inherit;
            
    }
 }
