body{
    height: 95vh;
    font-family: "Lato",sans-serif;
    /* background-image: linear-gradient(to right bottom,rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)); */
    background-color: #F9FCFD;
    background-size : cover;
    background-position: top;
    position: relative;
}
#botoes li{
    display: inline-block;
    list-style-type: none;
    justify-content: center;
    vertical-align: middle;
}
header img{
    height: 8vh;
    -webkit-padding-start: 0vh;
    border-radius: 1vh;
    margin-left: 4vw;
    margin-right: 33vw;
    margin-bottom: 3vh;
}
header a{
    vertical-align:bottom;
    text-decoration: none;
    color: green;
    font-size: 18px;
    margin-left: 7vw;
}
.title{
    color: rgb(223, 25, 223);
}

.table{
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 2.5vh;
    padding: 2vh;
}

.table span{
    margin-left: 9.8vw;
    font-weight: bolder;
    color: rgb(223, 25, 223);
    padding: 1vh 2vw 1vh 2vw ;
    border-radius: 1vh;
}
.table table span{
    margin-bottom: 3vh;
}
.table .qtitle{
    margin-top: 5vh;
}
textarea{
    border-radius: 2vh;
    width: 95%;
    height: 50vh;
    margin-top: 2vh;
    outline: none;
    white-space: pre-wrap;
}
#text-center button{
    margin-left: 0vw;
    margin-top: 2vh;
    background-color: white;
    padding-top: 1vh;
    padding-left: 2vw;
    padding-bottom: 1vh;
    padding-right: 2vw;
    border-color: black;
    border-radius: 1vh;
}
.table table{
    width: 86%;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #fff ;
}
table a{
    text-decoration: none;
    color: black;
    
}
#p{
    height: max-content;
}
.card{
    margin-left: 10vw;
    margin-top: 3vh;
    
}
.card #title{
    width: 95%;
    height: 5vh;
    border-radius: 2vh;
    border: groove;
    outline: none;
}
table tr{
    margin-top: 3vh;
}
table td{
    padding: 3vh 5vw 3vh 5vw;
    border-bottom: 1px solid black;
}
table tr:last-child td{
    border-bottom: 1px none black;
}
table button{
    margin-left: 2vw;
    background-color: white;
    padding-top: 1vh;
    padding-left: 2vw;
    padding-bottom: 1vh;
    padding-right: 2vw;
    border-color: black;
    border-radius: 1vh;
}
.profile{
    margin-top: 4vh;
}
.profile a{
    margin-left: 2vw;
    
    background-color: white;
    text-decoration: none;
    color: black;
    padding-top: 1vh;
    padding-left: 2vw;
    padding-bottom: 1vh;
    padding-right: 2vw;
    border-radius: 1vh;
}
@media screen and (max-width: 450px){
    header{
        margin-right: -20vw;
        width: 150%;
    }
    #botoes{
        width: 100%;
        position: relative;
    }
    #botoes li{
        display: inline-block;
        margin-left: 10vw;
        justify-content: start;
    }
    #botoes li:first-child{
        margin-right: -10vw;
        margin-left: -20vw;
    }
    #botoes li:last-child{
        margin-left: 0vw;
        margin-right: -20vw;
    }
    .table,.table table,.card #title,textarea{
        width: 100%;
    }
   
    textarea{
        height: 30vh;
    }
 } 
 
 
 @media screen and (min-width: 450px) and (max-width: 600px){ 
    header{
        margin-right: -20vw;
        width: 150%;
    }
    #botoes{
        width: 100%;
        position: relative;
    }
    #botoes li{
        display: inline-block;
        margin-left: 10vw;
        justify-content: start;
    }
    #botoes li:first-child{
        margin-right: -10vw;
        margin-left: -20vw;
    }
    #botoes li:last-child{
        margin-left: 0vw;
        margin-right: -20vw;
    }
    
    
    /* .table{
        width: 100%;
    } */
 }
 
@media screen and (min-width: 600px) and (max-width: 1000px){

    header img{
        margin-right: 10vw;
        margin-left: 10vw;
    }
    header a{
        margin-left: 6vw;
    }
    
 } 