*{
    font-family: "Lato",sans-serif;
}

body{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
#botoes{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    padding-top: 10px;
}
#botoes li{
    list-style-type: none;
}
#botoes img{
    height: 8vh;
    border-radius: 1vh;
}
#botoes a{
    text-decoration: none;
    color: green;
    font-size: 18px;
}
.title{
    color: rgb(194, 38, 194);
    font-size: 18px;
    margin-right: 10vw;
}
.all{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 60vw;
    align-items: stretch;
    margin-top: 5vh;
    margin-left: 20vw;
    margin-right: 20vw;
}
.photocover{
    width: 30vw;
    background-color: antiquewhite;
    background-image: url(../images/Glasses.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.photocodes{
    width: 30vw;
    background-color:rgb(24, 23, 23);
    color: rgb(196, 190, 190);
    padding-bottom: 5vh;
}
.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input input:first-child{
     margin-top: 3vh;
}
input{
    text-align: center;
    height: 5vh;
    border-radius: 1vh;
    width: 20vw;
    background-color:rgb(24, 23, 23);
    color: rgb(196, 189, 189);
    border-right: none;
    border-left: none;
    border-top: none;
    margin-bottom: 6vh;
    outline: none;
    margin-left: 5vw;
    margin-right: 5vw;
}
.input h4{
    text-align: center;
}
#error{
    text-align: center;
    color: white;
    width: 10%;
    background-color: red;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    margin-left: 10vw;
    display:none;
    position: absolute;
  }
.dont{
    margin-left: 7vw;
}
.dont a{
    color: green;
}
.form3{
    margin-bottom: 3vh;
}
.input button{
    border-radius: 1vh;
    border: none;
    outline: none;
    color: white;
    background-color:green;
    text-decoration: none;
    padding: 1.5vh 4vw 1.5vh 4vw;
    margin-left: 9.7vw;
}
.input :focus::-webkit-input-placeholder {
    font-size: .85em;
    position: relative;
    top: -15px; 
    transition: 0.2s ease-out;
}
/*@media screen and (max-width: 350px){
    header{
        margin-right: -20vw;
        width: 150%;
    }
    #botoes{
        width: 100%;
        position: relative;
    }
    #botoes li{
        display: inline-block;
        margin-left: 10vw;
        justify-content: start;
    }
    #botoes li:first-child{
        margin-right: -10vw;
        margin-left: -5vw;
    }
    #botoes li:last-child{
        margin-left: 0vw;
        margin-right: -20vw;
    }
}
@media screen and (min-width: 350px) and (max-width: 450px){
    header{
        margin-left: -14vw;
    }
    header img{
        margin-right: 20vw;
        margin-left: -10w;
    }
    header a{
        margin-left: 2vw;
    }
    .all{
        margin-left: 10vw;
    }
    .photocodes img{
        visibility: hidden;
        width: 0;
    }
    .input input{
        width: 60vw;
    }
    .input button{
        padding: 1.5vh 8vw 1.5vh 8vw;
        margin-left: 25vw;
    }
    .dont{
        text-align: center;
    }
 }
 
@media screen and (max-width: 600px){
    header img{
        margin-right: 20vw;
        margin-left: -10w;
    }
    header a{
        margin-left: 2vw;
    }
    .photocodes img{
        visibility: hidden;
        width: 0;
    }
    .input input{
        width: 60vw;
    }
    .input button{
        padding: 1.5vh 8vw 1.5vh 8vw;
        margin-left: 25vw;
    }
    .dont{
        text-align: center;
        margin-left: 20vw;
    }
 }
 
@media screen and (max-width: 1000px){

    header img{
        margin-right: 20vw;
        margin-left: 10vw;
    }
    header a{
        margin-left: 6vw;
    }
 } 
 @media screen and (max-height:600px){
    .all{
        
        height: 80vh;
        margin-bottom: 10vh;
    }
    .photocodes img{
        height: 80vh;
    }
 }